<section class="NovidadesSection">
    <main class="mainDestacados">
      <h2>NEW IN</h2>
      <section class="componentsProduct">
        <div class="product">
            <img src="./assets/img/mono-lola.jpg" alt="" class="product__image">
          <div class="productDescription">
            <h3 class="product__name">Mono Lola</h3>
            <span class="product__price">$90.00</span>
          </div>
          <a href=""></a>
        </div>

       
        <div class="product">
            <img src="pantalon-nina.jpg" alt="" class="produto__img">
          <div class="productDescription">
            <h3 class="product__name">Pantalón Nina</h3>
            <span class="product__price">$90.00</span>
          </div>
          <a href=""></a>
        </div>

         <!--
        <div class="produto">
            <img src="images/Novidades/Novidade3.jpg" alt="" class="produto__img">
          <div class="productDescription">
            <h3 class="produto__title">NewIn 3</h3>
            <span class="produto__price">$90.00</span>
          </div>
          <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
        </div>
        <div class="produto">
            <img src="images/Novidades/Novidade4.jpg" alt="" class="produto__img">
         <div class="productDescription">
          <h3 class="produto__title">NewIn 4</h3>
          <span class="produto__price">$90.00</span>
          </div>
          <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
        </div>
        <div class="produto">
          <img src="images/Novidades/Novidade5.jpg" alt="" class="produto__img">
        <div class="productDescription">
          <h3 class="produto__title">NewIn 5</h3>
          <spam class="produto__price">$90.00</spam>
        </div>
        <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
      </div>
      <div class="produto">
          <img src="images/Novidades/Novidade6.jpg" alt="" class="produto__img">
        <div class="productDescription">
          <h3 class="produto__title">NewIn 6</h3>
          <spam class="produto__price">$90.00</spam>
        </div>
        <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
      </div>
      <div class="produto">
          <img src="images/Novidades/Novidade7.jpg" alt="" class="produto__img">
        <div class="productDescription">
          <h3 class="produto__title">NewIn 7</h3>
          <spam class="produto__price">$90.00</spam>
        </div>
        <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
      </div>
      <div class="produto">
          <img src="images/Novidades/Novidade8.jpg" alt="" class="produto__img">
       <div class="productDescription">
          <h3 class="produto__title">NewIn 8</h3>
          <spam class="produto__price">$90.00</spam>
        </div>
        <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
      </div>
      -->
      </section>
    </main>
  </section>