<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Welcome {{username}} to Barey Collection</mat-card-title>
            
        </mat-card-header>
        <mat-card-content>
            <div class="login-container">
                <div class="login-fields">
                   <h1>What is Barey?</h1>
                   <p><i>Barey is synonymous with style, elegance, femininity and timelessness.<br />
                    Bold, exclusive and sophisticated designs, made to be worn from mother to daughter.</i></p>
                </div>
                <div>
                    <img src="./assets/img/mono-lola.jpg" alt="">
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <app-nav-bar></app-nav-bar>
        </mat-card-actions>
    </mat-card>
</div>